.header {
    background: linear-gradient(90deg, #4A4CC7 0%, #814AC7 99.51%);
}
.import-flex{
    display: flex !important;
}
.custom-gradient{
    background:  linear-gradient(146deg,#4B52C8 7.07%,#7A3ABC 73.05%);
}